<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_BIF(0,N) to XBIF(0,N)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0JJRgA=
					</data>
					<key>Replace</key>
					<data>
					WEJJRgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_BST(0,N) to XBST(0,N)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0JTVAA=
					</data>
					<key>Replace</key>
					<data>
					WEJTVAA=
					</data>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
